APP_DEBUG=false

DB_TYPE=mysql
DB_HOST=127.0.0.1
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASS=your_db_password
DB_PORT=3306
DB_CHARSET=utf8
DB_PREFIX=mp_

# WeChat Mini Program
WECHAT_MINI_APPID=your_mini_appid
WECHAT_MINI_SECRET=your_mini_secret

# Arrival subscribe message template config
WECHAT_ARRIVAL_CONFIRM_TEMPLATE_ID=your_subscribe_template_id
WECHAT_ARRIVAL_FIELD_TITLE=thing1
WECHAT_ARRIVAL_FIELD_ORDERNO=character_string2
WECHAT_ARRIVAL_FIELD_TIME=time3
WECHAT_ARRIVAL_FIELD_TIP=thing4

DEFAULT_LANG=zh-cn
